::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  a,
  .link {
    text-decoration: none;
    display: block;
    color: inherit;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  a:hover,
  .link:hover {
    transform: scale(1.03);
  }
  a:active,
  .link:active {
    transform: scale(0.99);
  }
  